<h1> Comment </h1>

<br>
<br>



<%= @comment.content %>
<% if @comment.image.present? %>
                <%= image_tag @comment.image.url(:large) %>
                <% end %>
<br>
<br>
<br>


<div><%= link_to "Edit this Comment", edit_comment_path(@comment) %></div>

<div><%= link_to "Delete this Comment", "/comments/#{@comment.id}", method: :delete, data: { confirm: "Are you sure?"} %> </div>

