<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Review</title>
</head>
<body>
  <h1 class = "col-md-offset-4 col-md-7"> RR..<small> your Restaurant Review <small></h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class = 'col-md-12'> <% @restaurants.each do |restaurant| %> </div>
  <div class = 'col-md-12'>            <%= restaurant.name %> </div>
  <div class = 'col-md-12'>            <%= link_to 'Show', restaurant %> </div>
        <% end %>



</body>
</html>

