<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Review</title>
</head>
<body>

  <div class='container'>
  <h1 class = "col-md-offset-4 col-md-7"> RR..<small> your Restaurant Review </small></h1>
  <br>
  <br>
  <br>
  <br>
  <br>
               <% @restaurants.each do |restaurant| %>
            <p>       <%= restaurant.name %>
                      <%= link_to 'More Info', restaurant %> </p>
        <% end %>


</div>

</body>
</html>

